@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/animations";

.stackedbar {
  position: relative;
  @extend %flexCenter;
  flex-direction: column;
  height: fit-content;
  max-height: 710px;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: $main-boxShadow;

  .infos {
    @extend %flexCenter;
    justify-content: space-between;
    width: 100%;

    .id {
      @extend %flexCenter;
      padding: 7px;
      border: 2px solid $main-color;
      border-radius: 3px;

      p {
        margin: 0;
        font-size: 1.2em;
        font-weight: 500;
        color: $main-color;
      }

      p:nth-child(1) {
        margin-right: 10px;
      }
    }

    h3 {
      color: $main-color;
      font-size: 2em;
      font-weight: 400;
      margin: 0;
    }

    img {
      height: 38px;
      padding: 7px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $main-grey;
      }
    }
  }

  hr {
    @extend %hrMainColor;
    margin: 10px 0 20px 0;
  }
}
