.admin-service {
  height: 100%;
  display: flex;
  flex-direction: column;

  .service-nav {
    z-index: 2;
    width: fit-content;
    color: white;
    border-radius: 3px;

    ul {
      display: flex;
      height: 45px;
      border-radius: 3px;

      .on {
        border-top: 3px solid #e8e8e8;
        border-left: 3px solid #e8e8e8;
        border-right: 3px solid #e8e8e8;
        background-color: white;

        &:hover {
          background-color: white;
        }
      }

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        margin-right: 7px;
        font-weight: 300;
        border-radius: 2px;
        cursor: pointer;
        color: black;

        &:hover {
          background-color: darken(#e8e8e8, 3);
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .content {
    position: relative;
    z-index: 1;
    top: -3px;
    overflow: hidden;
    height: 100%;
    padding: 8px 15px;
    border: 3px solid #e8e8e8;
    border-radius: 3px;
  }
}
