@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/animations";

.mat-toolbar {
  @extend %flexCenter;
  justify-content: space-between;
  height: 100%;
  padding: 15px 30px !important;
  color: white;
  background-color: $main-color;

  .navigation {
    display: flex;

    span {
      cursor: pointer;
    }

    hr {
      margin: 0px 30px;
      background-color: white;
      width: 2px;
    }

    button {
      margin: 0px 15px;
      padding: 15px;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: darken($main-color, 9);
      }
    }
  }
}
