.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px 30px !important;
  color: white;
  background-color: #448a95;

  .navigation {
    display: flex;

    hr {
      margin: 0px 30px;
      background-color: white;
      width: 2px;
    }
  }

  span {
    cursor: pointer;
  }

  button {
    margin: 0px 15px;
    padding: 15px;
    color: white;

    &:hover {
      background-color: darken(#448a95, 9);
    }
  }

  .options {
    mat-form-field {
      margin: 0px 15px;
      margin-top: 10px;
    }

    button {
      background-color: darken(#448a95, 6);

      &:hover {
        background-color: darken(#448a95, 9);
      }
    }
  }
}
