<div class="listservices">
  <mat-list class="sidenav open">
    <img
      class="arrowtoggle1"
      src="./assets/arrow_back.svg"
      alt="arrow"
      (click)="set_sidenav()"
    />
    <h2 mat-subheader>Listes des services :</h2>
    <div class="params">
      <mat-form-field>
        <mat-label>Nom du service</mat-label>
        <input
          matInput
          [(ngModel)]="serviceName"
          (input)="get_searchChange($event)"
          placeholder="Ex. ebureau.univ-reims.fr"
          value=""
        />
      </mat-form-field>
      <button *ngIf="serviceName" (click)="resetSearch()">
        <img src="../../assets/close-o.svg" alt="#" />
      </button>
    </div>
    @for (service of filterListServices; track service.id) {
    <mat-list-item
      *ngIf="filterListServices"
      [ngClass]="{ selected: service.id == selectedID }"
      routerLink="/services/{{ service.id }}"
      class="row"
    >
      <p class="new" *ngIf="service.new === 1">NEW</p>
      {{ service.name }}
    </mat-list-item>
    }
  </mat-list>

  <div class="view">
    <img
      class="arrowtoggle2"
      src="./assets/arrow_back.svg"
      alt="arrow"
      (click)="set_sidenav()"
    />

    <div class="options" [ngClass]="{ date: datePicker }">
      <mat-form-field *ngIf="datePicker">
        <mat-label>Sélectionner votre date :</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input
            matStartDate
            placeholder="Date début"
            [(ngModel)]="statService.date.datedebut"
          />
          <input
            matEndDate
            placeholder="Date fin"
            [(ngModel)]="statService.date.datefin"
          />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button
              mat-raised-button
              color="primary"
              matDateRangePickerApply
              (click)="onDateChange()"
            >
              Apply
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
      <div class="actions" (click)="set_datePicker()">
        @if(datePicker) {
        <img class="first" src="assets/arrow_back_white.svg" alt="#" />
        } @else {
        <img class="second" src="assets/arrow_back_white.svg" alt="#" />
        }
      </div>
    </div>
    <div class="presentation" *ngIf="service">
      <h3>Informations</h3>
      <div class="status">
        <div *ngIf="serviceDev || serviceStop || serviceActive" class="check">
          <div *ngIf="serviceDev" class="devServer">
            <img src="assets/dev-icon.svg" alt="#" />
            <p>Service de développement</p>
          </div>
          <div *ngIf="serviceStop" class="stopServer">
            <img src="assets/stop-icon.svg" alt="#" />
            <p>Service arrêté</p>
          </div>
          <div *ngIf="serviceActive" class="nodata">
            <img src="assets/warning.svg" alt="#" />
            <p>Aucune donnée pour les dates demandées</p>
          </div>
        </div>
      </div>
    </div>
    <div class="stats">
      <stackedbar [onDataChanged]="dataChanged"></stackedbar>
    </div>
  </div>
</div>
