@import "../../../scss/variables";
@import "../../../scss/mixins";

.on {
  background-color: $main-grey;
  p {
    color: $main-color;
    padding: 3px 0 3px 6px !important;
  }
}

.search-box {
  display: flex;
  align-items: center;
  margin: 0 auto 8px auto;

  h4 {
    margin-right: 25px;
    color: $main-color;
  }

  mat-form-field {
    width: 300px;

    mat-hint {
      margin-top: 3px;
      color: #f43d3d;
      font-weight: 500;
    }

    mat-icon {
      @extend %flexCenter;
      position: absolute;
      top: 12%;
      right: -10px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: darken($main-grey, 10);
      }
    }
  }
}

hr {
  width: 70%;
  height: 1px;
  margin: 8px auto 25px auto;
  border: none;
  background-color: $main-color;
}

.content {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  height: 580px;

  h4 {
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 13px 0;
    color: $main-color;
  }

  .wait-user {
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    color: $main-color;
  }

  .list-actions,
  .actions-content {
    img {
      height: 16px;
      margin-right: 10px;
    }
  }

  .select-user,
  .list-actions {
    ul {
      padding: 0 10px 0 0;

      li {
        display: flex;
        align-items: center;
        margin: 3px 0px;
        padding: 6px 10px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        font-weight: 300;
        border-radius: 3px;
        cursor: pointer;

        p {
          margin: 0;
          padding: 3px 0;
          transition: all 300ms ease-in-out;
        }

        &:hover {
          background-color: $main-grey;
        }
      }
    }
  }

  .select-user {
    display: flex;
    flex-direction: column;
    z-index: 3;
    opacity: 0;
    width: 0%;
    animation: fadeInListUser 300ms ease-in forwards;

    h4,
    li {
      text-wrap: nowrap;
    }

    ul {
      @extend %overflowY;
      @extend %webkitScrollbar;
      flex-grow: 1;

      &::-webkit-scrollbar {
        width: 8px;
      }
    }
  }

  .actions-user {
    flex-grow: 1;

    hr {
      @extend %hrMainColor;
    }

    .actions {
      display: flex;
      height: 100%;

      .list-actions {
        padding: 0 25px;
        z-index: 2;
        opacity: 0;
        width: 0%;
        animation: fadeInListActions 300ms ease-in-out forwards;

        ul {
          li {
            width: 320px;
            p {
              margin: 0;
            }
          }
        }

        hr {
          margin: 9px auto;
          opacity: 0;
          width: 0%;
          animation: fadeInHrListActions 300ms ease-in-out forwards;
          animation-delay: 300ms;
        }
      }

      .actions-content {
        @extend %overflowY;
        @extend %webkitScrollbar;
        width: 100%;
        padding: 0 15px 0 0;

        &::-webkit-scrollbar {
          width: 8px;
        }

        .list-infos,
        .list-service,
        .list-group,
        .list-admin {
          min-height: 100%;
          display: flex;
          flex-direction: column;
          opacity: 0;
          animation: fadeInClassic 400ms ease-in forwards;

          p {
            margin: 0;
          }

          .error-select {
            @extend %flexCenter;
            flex-grow: 1;

            .unknown {
              font-size: 1.2em;
              font-weight: 300;
              color: $main-color;
              background: none;
            }
          }
        }

        .list-infos {
          div {
            margin: 8px 0;
          }

          span {
            font-size: 1.2em;
            font-weight: 500;
            color: $main-color;
            padding: 0 0 0 15px;
          }

          .uid p,
          .list-groups ul,
          .list-services ul {
            padding: 12px 10px 12px 20px;
            font-size: 1em;
            font-weight: 100;
            border-radius: 3px;
            background-color: $main-grey;
          }

          .uid {
            p {
              margin-top: 10px;
              font-size: 1.1em;
            }
          }

          .list-groups,
          .list-services {
            ul {
              margin-top: 10px;

              li:first-child {
                margin-top: 0;
              }
              li:last-child {
                margin-bottom: 0;
              }

              li {
                @extend %flexCenter;
                justify-content: space-between;
                margin: 5px 0px;

                div {
                  display: flex;
                }
              }
            }
          }

          .delete {
            height: 20px;
            cursor: pointer;
            transition: transform 150ms ease-in;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }

      .list-service,
      .list-group,
      .list-admin {
        .row-search {
          display: flex;
          align-items: center;

          img {
            height: 40px;
            margin: 0 10px 15px 15px;
            padding: 6px 10px;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
              background-color: $main-grey;
            }
          }
        }

        mat-form-field {
          width: 100%;

          mat-icon {
            @extend %flexCenter;
            position: absolute;
            top: 12%;
            right: -10px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
              background-color: darken($main-grey, 10);
            }
          }
        }

        li:nth-child(even) {
          background-color: $main-grey;
        }

        li {
          @extend %flexCenter;
          justify-content: space-between;
          margin-top: 3px;
          padding: 3px 10px;
          border-radius: 3px;

          p {
            padding: 0 0 0 10px;
            font-size: 1em;
            color: $main-color;
          }
        }
      }
    }
  }
}
