@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/animations";

.no-select-group {
  height: 100%;

  p {
    font-size: 1.2em !important;
  }
}

.empty-groups {
  flex-grow: 1;
}

.empty-groups,
.no-select-group {
  @extend %flexCenter;

  p {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    color: #448a95;
  }
}

.selection-group {
  @extend %flexCenter;
  width: 100%;
  margin: 20px 0 0 0;

  h3 {
    margin-right: 25px;
    color: $main-color;
  }

  mat-form-field {
    width: 300px;
  }

  img {
    height: 40px;
    margin: 0 10px 15px 15px;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: $main-grey;
    }
  }
}

.bot {
  overflow: hidden;
  @extend %flexCenter;
  justify-content: space-between;
  width: 100%;
  flex-grow: 1;
  padding: 0 25px;

  .actual-group {
    @extend %webkitScrollbar;
    @extend %overflowY;
    width: 40%;
    height: 100%;

    &::-webkit-scrollbar {
      width: 9px;
    }

    li {
      margin-bottom: 20px;

      p {
        font-size: 1.4em;
        font-weight: 500;
        margin: 0;
        color: $main-color;
      }

      ul {
        margin: 5px 0px;
        padding-left: 20px;

        li {
          @extend %flexCenter;
          justify-content: space-between;
          margin: 10px 0px;

          p {
            margin: 0;
            font-size: 1em;
            font-weight: 300;
            color: black;
          }

          img {
            height: 20px;
            cursor: pointer;
            transition: transform 150ms ease-in;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  hr {
    height: 85%;
    width: 1px;
    border: none;
    background-color: $main-color;
  }

  .selection-services {
    @extend %overflowY;
    @extend %webkitScrollbar;
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 92%;
    padding: 0 20px 0 0;

    &::-webkit-scrollbar {
      width: 9px;
    }

    .row {
      position: relative;

      mat-form-field {
        width: 100%;
      }
      mat-icon {
        @extend %flexCenter;
        position: absolute;
        top: 10%;
        right: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: darken($main-grey, 10);
        }
      }
    }

    .error-select {
      @extend %flexCenter;
      flex-grow: 1;

      .unknown {
        font-size: 1.2em;
        font-weight: 300;
        color: $main-color;
        background: none;
      }
    }

    ul {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 15px;
        margin: 7px 0px;
        border-radius: 5px;

        p {
          margin: 0;
          color: $main-color;
        }

        &:nth-child(odd) {
          background-color: $main-grey;
        }
      }
    }
  }
}
