@if(listgroup.length > 0 || groupServices.length > 0) {
<div class="selection-group">
  <h3>Sélectionner un service :</h3>
  <mat-form-field>
    <mat-label>Groupe de service</mat-label>
    <mat-select [(ngModel)]="associateTo" (valueChange)="changeGroupe($event)">
      @for (row of listgroup; track row) {
      <mat-option [value]="row.id_service">
        {{ row.label }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <img
    src="assets/valid-check-icon.svg"
    alt="valid-check-icon"
    *ngIf="associateServices.length > 0"
    (click)="validate_associationGroup()"
  />
</div>
<div class="bot">
  <div class="actual-group">
    @if(listgroup.length > 0 || groupServices.length > 0) {
    <ul>
      @if(groupServices.length > 0) { @for(row of groupServices; track row) {
      <li>
        <p>{{ row.label }}</p>
        <ul>
          @for (line of row.services; track line) {
          <li>
            <p>- {{ line.fqdn }}</p>
            <img
              src="assets/close.svg"
              alt="close-icon"
              (click)="delete(row.id, line.id_service)"
              class="delete"
            />
          </li>
          }
        </ul>
      </li>
      } }
    </ul>
    }
  </div>
  <hr />
  <div class="selection-services">
    @if(this.associateTo != undefined) {
    <div class="row">
      <mat-form-field>
        <mat-label>Nom du service</mat-label>
        <input
          matInput
          [(ngModel)]="serviceName"
          (input)="get_searchChange($event)"
          placeholder="Ex. ebureau.univ-reims.fr"
          value=""
        />
      </mat-form-field>
      @if (serviceName) {
      <mat-icon (click)="clear_search()">close</mat-icon>
      }
    </div>
    @if (listservices.length > 0) {
    <div class="selection">
      <div>
        <input class="select" type="checkbox" (change)="selectAll(1)" />
        <p>Sélectionner tous les éléments</p>
      </div>
      <div>
        <input class="deselect" type="checkbox" (change)="selectAll(2)" />
        <p>Désélectionner tous les éléments</p>
      </div>
    </div>
    <ul>
      @for(row of listservices; track row) {
      <li>
        <p>{{ row.name }}</p>
        <mat-checkbox
          [(ngModel)]="row.checked"
          (change)="onCheckboxChange(row)"
        />
      </li>
      }
    </ul>
    } @else {
    <div class="error-select">
      <p class="unknown">Aucun résultat !</p>
    </div>
    } } @else {
    <div class="no-select-group">
      <p>Veuillez sélectionner un groupe pour y ajouter des services</p>
    </div>
    }
  </div>
</div>
} @else {
<div class="empty-groups">
  <p>Aucune groupe disponible en base de données</p>
</div>
}
