@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";

mat-dialog-container {
  width: 40%;
  max-width: 220px;
}

mat-dialog-content {
  @extend %flexCenter;
  flex-direction: column;
  padding: 25px 35px 0px 35px !important;
  overflow: hidden;
}

mat-hint {
  margin-top: 3px;
  color: red;
  font-weight: 400;
}

p {
  font-size: 1.1em;
  color: $main-color;
  font-weight: 400;
}

hr {
  width: 90%;
  height: 1px;
  margin: 8px 0px 20px 0px;
  background-color: $main-color;
}

mat-form-field {
  width: 90%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;

  button {
    color: $main-color;
  }
}
