<mat-dialog-content>
  <p>Modifier le nom du groupe de service</p>
  <p class="actual">
    Nom actuel : <span>{{ data.label }}</span>
  </p>
  <hr />
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Ex. Pipa" [(ngModel)]="nomDuGroupe" />
    <mat-hint *ngIf="errorLength">{{ errorLength }}</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Quitter</button>
  <button mat-button (click)="onOkClick()">Valider</button>
</mat-dialog-actions>
