<div class="stackedbar">
  <div class="infos">
    <div class="id">
      <p>ID :</p>
      <p>{{ dataServiceID }}</p>
    </div>
    <h3 *ngIf="dataService">{{ dataService.name }}</h3>
    <img
      src="assets/expand-icon.svg"
      alt="expand-icon"
      (click)="fullScreen()"
    />
  </div>
  <hr />
  <canvas
    style="max-height: 580px;"
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType"
  >
  </canvas>
</div>
