<div class="params">
  <h4>Rechercher un service :</h4>
  <mat-form-field>
    <mat-label>Nom du service</mat-label>
    <input
      matInput
      [(ngModel)]="serviceName"
      (input)="get_searchChange($event)"
      placeholder="Ex. ebureau.univ-reims.fr"
      value=""
    />
    @if (serviceName) {
    <mat-icon (click)="clear_search()">close</mat-icon>
    }
  </mat-form-field>
</div>
<hr />
@if(filterListServices.length > 0) {
<ul class="listServices">
  @for(service of filterListServices; track service) {
  <li>
    <div class="infos">
      <p>{{ service.id }}</p>
      <p>{{ service.name }}</p>
      <p class="new" *ngIf="service.new === 1">NEW</p>
    </div>
    <div class="actions" [formGroup]="getActionsForm(service)">
      <mat-checkbox [(ngModel)]="service.isDev" formControlName="isDev"
        >Développement</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="service.isEnded" formControlName="isEnded"
        >Arrêté</mat-checkbox
      >
      <button
        mat-flat-button
        color="primary"
        (click)="validateChange(service.id, getActionsForm(service).value)"
      >
        Valider
      </button>
    </div>
  </li>
  }
</ul>
} @else {
<div class="error-select">
  <p class="unknown">Aucun résultat !</p>
</div>
}
