button {
  position: absolute;
  left: 25px;
  top: 15px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #e8e8e8;
  }
}
