@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/animations";

.listgroup {
  padding: 10px 0;

  .line-service {
    @extend %flexCenter;
    flex-direction: column;

    .empty-groups {
      @extend %flexCenter;
      flex-grow: 1;

      p {
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: 1.4em;
        font-weight: 300;
        color: #448a95;
      }
    }

    .infos {
      @extend %flexCenter;
      justify-content: space-between;
      width: 90%;
      margin: 10px 0;

      h3 {
        margin: 0;
        font-size: 1.3em;
        font-weight: 500;
        color: $main-color;
      }

      img {
        height: 40px;
        padding: 5px;
        border: 2px solid $main-grey;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: darken($main-grey, 10);
        }
      }
    }

    hr {
      width: 70%;
      height: 1px;
      margin: 8px auto 25px auto;
      border: none;
      background-color: $main-color;
    }

    li {
      @extend %flexCenter;
      justify-content: space-between;
      width: 80%;
      padding: 5px 5px 5px 25px;
      margin: 5px 0;
      border-radius: 3px;
      border: 2px solid $main-grey;
      cursor: pointer;

      &:hover {
        background-color: $main-grey;
      }

      p {
        margin: 0;
        color: $main-color;
        font-size: 1.3em;
        font-weight: 500;
      }

      .actions {
        @extend %flexCenter;
        height: 35px;

        hr {
          margin: 0px 5px;
          background-color: black;
          width: 1px;
          height: 70%;
        }

        img {
          height: 32px;
          margin: 0 10px;
          padding: 5px 8px;
          border-radius: 10px;

          cursor: pointer;

          &:nth-child(1) {
            padding: 4px 6px 6px 10px;
          }

          &:hover {
            background-color: darken($main-grey, 10);
          }
        }
      }
    }
  }
}
