@media (max-width: 1300px) {
  dashboard {
    padding: 40px 20px !important;
  }

  .content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column !important;

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #f5f5f5;
      border: 1px solid #cacaca;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: $main-color;
    }

    hr {
      display: none !important;
    }

    .left {
      .top {
        .simply_stat {
          width: 33% !important;
          min-width: 130px !important;
        }
      }
      .bot {
        min-height: 500px !important;
        margin: 0 20px 0 0 !important;
      }
    }
    .right {
      width: 95% !important;
      margin: 10px 0 0 10px !important;
    }
  }
}
