@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/animations";

h3 {
  @extend %flexCenter;
  flex-direction: column;
  color: $main-color;
  font-size: 2em;
  font-weight: 300;

  &::after {
    content: "";
    width: 95%;
    height: 0.1px;
    margin-top: 4px;
    background-color: $main-color;
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;

  .separation-left {
    width: 100%;
    height: 0px;
    margin: 20px 0px;
  }

  .separation-right {
    width: 1px;
    height: 100%;
    margin: 0px 30px;
  }

  .left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .top {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .simply_stat {
        @extend %flexCenter;
        justify-content: space-between;
        flex-direction: column;
        width: 230px;
        height: 230px;
        padding: 40px 0 25px 0;

        img {
          height: 40px;
        }

        p {
          font-size: 2em;
          font-weight: 400;
          margin: 0;
        }

        h4 {
          font-size: 0.9em;
          margin: 0;
          color: #969696;
        }

        // color simply stat dashboard window
        &:nth-child(1) {
          color: $main-color;
        }
        &:nth-child(2) {
          color: #00da00;
        }
        &:nth-child(3) {
          color: red;
        }
      }
    }

    .bot {
      @extend %flexCenter;
      flex-grow: 1;
    }
  }

  .right {
    width: 25%;

    .mat-expansion-panel {
      margin: 15px 0px;

      img {
        width: 20px;
        margin-right: 15px;
      }

      .mat-expansion-panel-header-description {
        flex-grow: 0;
        margin: 0;
      }
    }

    .content {
      @extend %overflowY;
      @extend %webkitScrollbar;
      display: flex;
      flex-direction: column;
      max-height: 220px;

      &::-webkit-scrollbar {
        width: 7px;
      }

      .detail {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 3px 0 3px 10px;
        padding: 8px 10px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: $main-color;
          color: white;
        }

        p {
          margin: 0;
          font-size: 0.9em;
        }

        p:nth-child(1) {
          font-weight: 400;
        }

        p:nth-child(2) {
          font-weight: 500;
        }
      }
    }
  }
}
