@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/animations";

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100vh;
}

app-root {
  @extend %flexCenter;
  flex-direction: column;
  height: 100vh;
  background-color: $main-grey;

  header {
    min-height: 75px;
    height: 75px;
    width: 100%;
  }

  dashboard {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    max-width: 1250px;
    height: 85%;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
    background-color: white;
    box-shadow: $main-boxShadow;
    opacity: 0;
    animation: fadeInClassic 400ms ease-in forwards;

    .mat-expansion-panel-body {
      padding: 0 12px 0 0;
      margin: 5px 0px;
    }

    scoreboard {
      @extend %flexCenter;
      width: 100%;
      height: 100%;
    }
  }

  detailsservices {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;

    mat-list-item {
      padding: 8px 10px !important;
      transition: padding 200ms ease-in-out;

      .mdc-list-item__content {
        span {
          @extend %flexCenter;
          justify-content: flex-start;
          padding: 2px 5px !important;
          font-size: 1.1em;
          font-weight: 300;
          color: black;
          transition: color 200ms ease-in-out;
        }
      }
    }
    .selected {
      padding: 8px 0 8px 18px !important;
      background-color: $main-grey;

      .mdc-list-item__content {
        span {
          color: $main-color !important;
        }
      }
    }
  }

  classement {
    @extend %flexCenter;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  administration {
    width: 80%;
    min-width: 600px;
    max-width: 1250px;
    min-height: 500px;
    max-height: 850px;
    height: 85%;
    margin: auto;
    padding: 30px;
    background-color: white;
    box-shadow: $main-boxShadow;
    border-radius: 3px;
    opacity: 0;
    animation: fadeInClassic 500ms ease-in forwards;

    .mat-mdc-tab-body-wrapper {
      height: 100%;
      margin: 20px 0;

      utilisateur {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .mat-mdc-tab-body-content {
        height: 100%;

        service-user {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: hidden;
        }

        groupservice {
          display: flex;
          flex-direction: column;
          height: 100%;

          associate-groupservice {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            overflow: hidden;

            .mat-expansion-panel {
              border-radius: 3px;
            }

            .mat-expansion-panel-body {
              @extend %overflowY;
              @extend %webkitScrollbar;
              max-height: 300px;
              padding: 0 15px;

              &::-webkit-scrollbar {
                width: 10px;
              }
            }
          }
        }
      }
    }
  }
}

// media queries :
@media (max-width: 1300px) {
  dashboard {
    padding: 40px 20px 40px 30px !important;
  }
}

@media (max-height: 820px) {
  administration {
    max-width: 1100px !important;
  }
}
