$main-font: 400 14px/20px Roboto, sans-serif;

$main-boxShadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

$main-color: #448a95;

$main-grey: #e8e8e8;
$borderGrey2px: 2px solid #cacaca;
