<div class="bot">
  <div class="left">
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
    >
    </mat-paginator>
    <mat-list
      class="content"
      *ngIf="dataScoreboardPagination.labels.length > 0"
    >
      <div class="example">
        <p>Nom du service</p>
        <p>Access</p>
      </div>
      @for (service of dataScoreboardPagination.labels; track service; let i =
      $index) {
      <mat-list-item
        routerLink="/services/{{ dataScoreboardPagination.ids[i] }}"
      >
        <div class="row">
          <p>{{ service }}</p>
          <p
            [ngClass]="{
              min: dataScoreboardPagination.data[i] < 10000,
              moy:
                dataScoreboardPagination.data[i] > 10000 &&
                dataScoreboardPagination.data[i] < 50000,
              max: dataScoreboardPagination.data[i] > 50000
            }"
          >
            {{ dataScoreboardPagination.data[i] }}
          </p>
        </div>
      </mat-list-item>
      }
    </mat-list>
  </div>
  <div class="right">
    <h3>Trafic des services depuis avril 2023</h3>
    <hr />
    <scoreboard-totaly
      *ngIf="dataScoreboard"
      [dataSending]="dataScoreboard"
    ></scoreboard-totaly>
  </div>
</div>
